* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,
body {
  height: 100%;
  width: 100%;
}
.nav{
  width: full;
  background-color: #428475;
  color: #1A312C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  font-size: large;
}
.nav2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.theme{
  padding: 2px 8px;
  background-color: #89D7B7;
  border: solid 0px black;
  border-radius: 8px;
}